<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{appName}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body style="margin: 0">
  <script>
    {{#if baseAssetsUrl }} const baseAssetsUrl = {{baseAssetsUrl}}.toString(); {{/if}}
    {{#if baseRouteUrl }} const baseRouteUrl = {{baseRouteUrl}}.toString(); {{/if}}
    {{#if baseApiUrl }} const baseApiUrl = {{baseApiUrl}}.toString(); {{/if}}
    {{#if baseRootUrl }} const baseRootUrl = {{baseRootUrl}}.toString(); {{/if}}
    {{#if appName }} const appName = {{appName}}.toString(); {{/if}}
    {{#if backofficeAppName }} const backofficeAppName = {{backofficeAppName}}.toString(); {{/if}}
    {{#if version }} const version  = {{version}}.toString(); {{/if}}
    {{#if logConfig }} const logConfig = {{logConfig}}.toString(); {{/if}}
    {{#if userID }} const userID = {{userID}}.toString(); {{/if}}
    {{#if lang }} const lang = {{lang}}.toString(); {{/if}};
    {{#if freshchatToken }} const freshchatToken = {{freshchatToken}}.toString(); {{/if}}
    {{#if freshchatHost }} const freshchatHost = {{freshchatHost}}.toString(); {{/if}}
    {{#if userEmail }} const userEmail = {{userEmail}}.toString(); {{/if}}
  </script>

  <app-root></app-root>
</body>

</html>